

.header {
    background: #0e0e0e;
    padding-top: 1rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: aquamarine;
	position: static;
}

.banner {
	background-image: url('../../images/sr2.jpg');
	/* height: 50px; */
	/* padding: 3rem; */
	background-position: center;
	background-size: cover;
	max-height: 100%;
	max-width: 100%;
}
