.header {
    /* background: #0e0e0e; */
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: darkblue;
}

.banner {
	background-image: url('../../images/banner-background.png');
	background-position: center;
	background-size: cover;
}
